# Device type. Can be BME280, SenseHat, Mock
DEVICE=Mock

# How to write. Can be CONSOLE or POST
WRITER=CONSOLE

# Remote URL for POST
API_URL=""

# The name under which this device appears in the API.
NAME=device1